.page-footer {
  background: #2f303a;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.logo_last-section {
  color: var(--white-color);
}
.adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-top: 20px;

  color: var(--white-color);
}
.mail,
.tel {
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 12px;
}

.social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: 1px solid #000000;
}

.footer-icon {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
  justify-content: center;
}

.dots {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--brand-color);
  }
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 16px;
}
.subscribe-icon {
  position: absolute;
  margin-left: 25px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
