.page-header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ececec;
}

.main-nav_list {
  list-style-type: none;
  display: inline-block;
  flex-grow: 1;
}

.main-nav__item {
  margin-right: 50px;
  display: inline-block;
}
.main-nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  position: relative;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo__first-section {
  color: var(--brand-color);
}

.contact__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__list {
  display: flex;
  gap: 30px;
}

.link--active {
  color: var(--brand-color);
  &::after {
    content: " ";
    background-color: var(--brand-color);
    border-radius: 10px;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -32px;
    left: 0;
  }
}
